SECRET_KEY=replace-me
DEBUG=True
USE_SQLITE=True
POSTGRES_DB=rmsj
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
FRONTEND_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
WHATSAPP_ENABLED=False
WHATSAPP_PROVIDER=meta_cloud_api
WHATSAPP_API_URL=https://graph.facebook.com/v23.0/{phone_number_id}/messages
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_API_VERSION=v23.0
